@model MtecDevs.ViewModels.LoginVM
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}
<main class="container-fluid p-4"> 
    <form method="post"> 
        <div class="text-center mb-4">
            <h1>Logo</h1>
        </div>
        <div class="mb-3">
            <label asp-for="Email" class="form-label"></label>
        </div>
    </form>
</main>